<div class="footer">
	<div class="container">
		<div class="row">
			<div class="span4 offset1 logo-vt">
				<%= link_to root_path , :class => "brand" do %>
					<span>Games</span>
					<span class="cl-blue">Crank</span>
				<% end %>
				<span class="coppy_right">
					<p>Nothing is true, everything is permitted.</p>
					<p>@2013 All Rights Reserved.</p>
				</span>
			</div>

			<div class="span6 offset1">
				<ul class="nav nav-list">
					<li class="nav-header">Social Galery</li>
					<li><a href="https://plus.google.com/u/0/114986640621519373294/posts"><i class="googleplus"></i>G-mail</a></li>
					<li><a href="#"><i class="facebook"></i>Facebook</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>