<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="./index_files/index.html">
				<div id="logokhan">
					<span>Games</span>
					<span class="cl-blue">Crank</span>
				</div>
			</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>

              		<li><a href="#">Inicio</a></li>

              		<li class="divider-vertical"></li>

              		<li><a href="#">Recomendados</a></li>

              		<li class="divider-vertical"></li>

              		<li><a href="#">Más Vistiados</a></li>

              		<li class="divider-vertical"></li>

              		<li><a href="#">Categorías</a></li>

              		<li class="divider-vertical"></li>

              		<li><a href="#">Contacto</a></li>

              		<li class="divider-vertical"></li>
            	</ul>
			</div>
		</div>
	</div>
</div>