<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="./index_files/index.html">
				<div id="logokhan">
					<span>Games</span>
					<span class="cl-blue">Crank</span>
				</div>
			</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>

              		<li><%= link_to "Inicio", root_path %></li>

              		<li class="divider-vertical"></li>

              		<li><%= link_to "Recomendados", root_path(:anchor => "recomendados")  %></li>

              		<li class="divider-vertical"></li>

              		<li><%= link_to "Más Vistiados", root_path(:anchor => "+visitados") %></li>

              		<li class="divider-vertical"></li>              		

              		<li><a href="#">Categorías</a></li>

              		<li class="divider-vertical"></li>

              		<li><%= link_to "Contacto", :controller => "site", :action => "contacto" %></li>

              		<li class="divider-vertical"></li>
            	</ul>
			</div>
		</div>
	</div>
</div>