<div class="main">
	<div class="container">
		<div class="row">
			<div class="box-wrapper span12">
				<div class="row">
					<!-- Comienzo de Sinopsis -->
					<div class="box-content-widget span12">						
						<div class="row">
							<div class="title bg-title span12">
								<h3 class="pull-hover">Contacto:</h3>
							</div>
						</div>

						<div class="widget">
							<div class="widget-content-pd">
								<% 8.times do %>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>